.featured-grid {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  height: 2000px;
}

.featured-img {
  height: 350px;
  width: 350px;
  border-radius: 5%;
}

.featured-name {
  font-size: 40px;
  position: relative;
  top: 15rem;
  color: aliceblue;
}
