.flight-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3%;
}

.flight-box {
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 20px;
  width: 600px;
  background-color: #093c72;
  color: #ffffff;
  margin: 15px;
}

.flight-box h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 100;
}

.flight-box button {
  background-color: #ffffff;
  color: #093c72;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.flight-box button:hover {
  background-color: #d0daee;
  color: #093c72;
}
